* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

nav {
    height:100px;
    display: flex;
    padding: 10px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.hero-image {
    display: flex;
   margin: auto;
   height: 300px;
}
.main-logo {
    height: 80px;
}

.hero {
   
    padding: 30px;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.title__sub-paragraph {
    font-weight: 300;
    font-size: 16px;
    width: 320px;
    line-height: 110%;
    margin-top: 0;
}
.card {
    width: 220px;
     font-size: 14px;
     margin: 30px;
     position: relative;
}

.card-image {
   height: 300px;
    width: 220px;
}

span {
    color: rgb(85, 83, 83);
}

.star {
  vertical-align: middle;
    height: 14px;
}
.cards-presentation{
    display: flex;
    overflow: hidden;
}
.card--badge {
    position: absolute;
    background-color: azure;
    padding: 3px;
    left: 8px;
    top: 8px;
    border-radius: 2px;
    font-weight: bold;
}
.card--badge__online {
    position: initial;
}